<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Poblacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>

    </ion-toolbar>
  </ion-header>

  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button color="primary" (click)="calcular()">Calcular</ion-button>
      
      <ion-item>
        <ion-label position="stacked">Resultado</ion-label>
        <ion-spinner *ngIf="calculando" name="dots"></ion-spinner>

        <ion-input disabled="true">{{resultado}}</ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>