<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora integrales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>

    </ion-toolbar>
  </ion-header>

  <br>
  <br>
  <br>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Integrales CalcuCardeño 😎</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Variable</ion-label>
        <ion-input [(ngModel)]="variable" placeholder="Ingrese la variable por ejemplo 'x'"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Funcion</ion-label>
        <ion-input [(ngModel)]="formula" placeholder="Ingrese la formula por ejemplo 'x^2'"></ion-input>
      </ion-item>
      
      <ion-button color="primary" (click)="calcular()">Calcular integral</ion-button>
      
      <br>

      
      <ion-item>
        <ion-label position="floating">Resultado</ion-label>
        <br>
        <ion-spinner *ngIf="calculando" name="dots"></ion-spinner>
        <ion-input *ngIf="error!=''" color="danger"><ion-icon name="close-circle" disabled></ion-icon> {{error}} </ion-input>
        <ion-img *ngIf="imagen!=''" disabled="true" src="{{imagen}}" style="width: 100%;" (click)="descargarImagen()" ></ion-img>
        <ion-text *ngIf="resultado!=''" disabled="true">{{resultado}}</ion-text>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>